@import '../main.scss';

$margin-change-threshold: 800px;

html {
    height: 100%;
}

body {
    background: $background-color;
    transition: none;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#root {
    height: 100%;
    overflow-x: hidden;
}

.app {
    color: $text-color;
    min-height: calc(100% - 8rem);
    font-weight: bold;
    text-transform: uppercase;
    margin: 4rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: $margin-change-threshold) {
        margin: 4rem 4rem;
    }
}

.app-border {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.app-not-border {
    position: fixed;
    top: 2rem;
    left: 2rem;
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    background-color: $background-color;
}

a {
    color: $text-color;
}

button {
    font: inherit;
    text-transform: uppercase;
    border: none;
    background: $background-color;
    color: $text-color;
    cursor: pointer;
    padding: 0.5rem;
    border: $standard-border;

    &:hover {
        background: $text-color;
        color: $background-color;
    }
}

.nav-links {
    line-height: 0.8em;
    margin-bottom: -0.8em;
    font-size: 1.25rem;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1.2rem;

    a, .share-link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .share-link {
        cursor: pointer;
    }

    @media (min-width: $margin-change-threshold) {
        margin-right: -4rem;
    }
}