@import '../main.scss';

.countdown-list-section, .countdown-list, .countdown-list-row {
    width: 100%;
}

.countdown-list-row {
    margin-bottom: 1rem;
    padding-top: 1rem;
    border-top: $standard-border;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 1rem;
}

.countdown-list-info {
    text-align: right;
    flex: auto;
}

.countdown-list-locations {
    font-size: 3rem;
    line-height: 1em;
    margin-bottom: 1rem;
    text-align: right;

    display: flex;
    flex-flow: column wrap;
}

.countdown-list-timer {
    font-size: 4rem;
    line-height: 1em;
    margin-bottom: 0.5rem;
    flex: auto;

    @media (max-width: 1200px) {
        font-size: 4rem;
    }
}

.countdown-list-timezone-name, .countdown-list-timestamp {
    font-size: 1.5rem;
}