@import '../main.scss';

.up-next {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-up-next {
    padding-bottom: 1rem;
    border-bottom: $standard-border;
}

.main-time-zone-name {
    text-align: right;
    line-height: 1.2em;
    font-size: 1.5rem;
}

.main-time-zone-locations {
    text-align: right;
    font-size: 4rem;
    line-height: 0.9em;
    margin-bottom: 1rem;

    @media (max-width: 800px) {
        font-size: 3rem;
    }
}

.main-countdown-section {
    width: 100%;
}

.main-clock {
    width: 100%;
    font-size: 9rem;
    text-align: right;
}

.main-clock-textfit {
    width: 100%;
    height: 1em;
    visibility: auto;
    line-height: 0.8em;
}

.main-until {
    text-align: right;
    font-size: 4rem;
}

.main-countdown {
    margin-bottom: 1rem;
}

.main-timestamp {
    font-size: 1.5rem;
}