@import '../main.scss';

.up-next {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.main-up-next {
    padding-bottom: 1rem;
    border-bottom: $standard-border;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.up-next-text {
    align-self: flex-end;
}

.main-time-zone-name {
    text-align: right;
    line-height: 1.2em;
    font-size: 1.5rem;
}

.main-time-zone-locations {
    text-align: right;
    font-size: 4rem;
    line-height: 0.9em;
    margin-bottom: 1rem;
    hyphens: auto;
    word-wrap: break-word;

    @media (max-width: 800px) {
        font-size: 3rem;
    }

    @media (max-width: 400px) {
        font-size: 2rem;
    }
}

.main-countdown-section {
    width: 100%;
}

.main-countdown-meat {
    text-align: right;
}

.main-countdown-text {
    margin-bottom: 1rem;
}

.main-countdown .countdown, .main-countdown-text {
    display: inline-block;
    line-height: 0.8em;
}

.main-countdown {
    margin-bottom: 1rem;
}

.main-timestamp {
    font-size: 1.5rem;
}