@import '../main.scss';

.footer {
    width: 100%;
    text-align: center;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    a {
        color: $text-color;
        // text-decoration: none;
        // border-bottom: $standard-border;
    }
}