@import '../main.scss';

.header {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;

    gap: 0.5rem;
    position: relative;
}

.yearname {
    position: absolute;
    font-size: 32rem;
    opacity: 0.2;
    transform: rotate(-5deg) translateY(-0.5rem);

    @media (max-width: 1400px) {
        font-size: 25rem;
    }

    @media (max-width: 900px) {
        font-size: 20rem;
    }

    @media (max-width: 600px) {
        font-size: 16rem;
    }

    // animation: 10s ease-in-out wobble infinite;
}

@keyframes wobble {
    0% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(-5deg);
    }
}

.header-logo {
    font-size: 4rem;
    line-height: 0.9em;

    .header-year {
        margin-left: 0.4em;
    }

    .header-zone {
        margin-left: 1.8em;
    }

    padding: 10px;

    transform: rotate(10deg);
}

.header-description {
    font-size: 3rem;
}

.subtitle {
    transform: rotate(10deg);
    font-size: 1.5rem;
}

.subtitle-row-2 {
    margin-left: 6rem;
}