@import '../main.scss';

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    // border-bottom: $standard-border;
    // padding-bottom: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.header-logo {
    font-size: 3rem;
    line-height: 0.9em;

    .header-year {
        margin-left: 0.4em;
    }

    .header-zone {
        margin-left: 1.8em;
    }
    padding: 10px;
}