@import '../main.scss';

.main-clock-section {
    width: 100%;
}

.main-clock {
    width: 100%;
    font-size: 500px;
}

.main-clock-textfit {
    width: 100%;
    line-height: 0.8em;
    margin-bottom: 1rem;
}

.main-until {
    text-align: right;
    font-size: 4rem;
}