@import '../main.scss';

.new-year-everywhere {
    text-align: center;
    font-size: 3rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
    padding: 2rem; 
    border: $thicc-border;
    width: fit-content;
    transform: rotate(-2deg);

    * {
        line-height: 0.9em;
    }

    .happy-new-year-title {
        margin-bottom: 1rem;

        @media (max-width: 900px) {
            font-size: 5rem;
        }
    }

    .its-year-everywhere {
        font-size: 2rem;
    }

    @media (max-width: 1400px) {
        margin-top: 4rem;
    }
}