:root {
    --background-color: #efadc6;
    --text-color: #4a4460;
}

$background-color: var(--background-color);
$text-color: var(--text-color);
$standard-border: 3px solid $text-color;
$thicc-border: 8px solid $text-color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

* {
    transition: color 0.3s background-color 0.3s;
}

:root {
    font-size: 16px;

    @media (max-width: 600px) {
        font-size: 14px;
    }

    @media (max-width: 450px) {
        font-size: 12px;
    }
}