$background-color: #b7b4c7;
$text-color: #1d2939;
$standard-border: 3px solid $text-color;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

:root {
    font-size: 16px;

    @media (max-width: 600px) {
        font-size: 14px;
    }

    @media (max-width: 450px) {
        font-size: 12px;
    }
}